In [3]:
pip install selenium

Requirement already satisfied: selenium in c:\users\user\ws\venv\lib\site-packages (4.8.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\ws\venv\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\user\ws\venv\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\user\ws\venv\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\ws\venv\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\users\user\ws\venv\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\user\ws\venv\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\user\ws\venv\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\user\ws\venv\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user\ws\venv\lib\site-packages (from trio~=0.17->selenium) (22.2.0)
Requirement already satisfied: idna in c:\users\user\ws\venv\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio in c:\users\user\ws\venv\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\user\ws\venv\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\user\ws\venv\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\ws\venv\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\ws\venv\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\ws\venv\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\User\ws\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [10]:
pip install beautifulsoup4

Collecting beautifulsoup4Note: you may need to restart the kernel to use updated packages.

  Using cached beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.11.2 soupsieve-2.4

WARNING: You are using pip version 21.1.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\User\ws\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains
from bs4 import BeautifulSoup
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select

chrome_options = webdriver.ChromeOptions()

url = 'https://companiesmarketcap.com/usa/largest-companies-in-the-usa-by-market-cap/'
driver = webdriver.Chrome(service=Service('../driver/chromedriver'), options=chrome_options)
driver.set_window_size(1920,1080)
driver.get(url)

In [3]:
# 주식 TOP 100 TICKER 크롤링
name=[]
code = []
a = driver.find_elements(By.CLASS_NAME,'company-code')

# for i in range(len(a)):
#     a = driver.find_elements(By.CLASS_NAME,'company-code')
#     b = driver.find_elements(By.CLASS_NAME,'company-name')
#     c = a[i].get_attribute('innerText')
#     d = b[i].get_attribute('innerText')
#     comp_name.append(d)
#     code.append(c)

# driver.find_element(By.CLASS_NAME,'page-link').click()

for j in range(len(a)):
    a = driver.find_elements(By.CLASS_NAME,'company-code')
    b = driver.find_elements(By.CLASS_NAME,'company-name')
    c = a[j].get_attribute('innerText')
    d = b[j].get_attribute('innerText')
    name.append(d)
    code.append(c)

In [4]:
code

['AAPL',
 'MSFT',
 'GOOG',
 'AMZN',
 'BRK-B',
 'TSLA',
 'NVDA',
 'V',
 'UNH',
 'XOM',
 'META',
 'JPM',
 'JNJ',
 'WMT',
 'MA',
 'PG',
 'CVX',
 'LLY',
 'HD',
 'MRK',
 'BAC',
 'ABBV',
 'KO',
 'PEP',
 'AVGO',
 'ORCL',
 'PFE',
 'COST',
 'TMO',
 'CSCO',
 'MCD',
 'DIS',
 'NKE',
 'DHR',
 'WFC',
 'TMUS',
 'ABT',
 'MS',
 'VZ',
 'CRM',
 'CMCSA',
 'UPS',
 'TXN',
 'PM',
 'SCHW',
 'BMY',
 'ADBE',
 'RTX',
 'NEE',
 'NFLX',
 'QCOM',
 'T',
 'AXP',
 'HON',
 'COP',
 'AMD',
 'AMGN',
 'DE',
 'LMT',
 'GS',
 'CAT',
 'LOW',
 'UNP',
 'BA',
 'INTU',
 'IBM',
 'SBUX',
 'ELV',
 'SPGI',
 'PLD',
 'CVS',
 'INTC',
 'BLK',
 'GILD',
 'SYK',
 'C',
 'BKNG',
 'AMAT',
 'ADI',
 'ADP',
 'AMT',
 'GE',
 'MDLZ',
 'TJX',
 'CI',
 'EL',
 'NOW',
 'MO',
 'PYPL',
 'PGR',
 'REGN',
 'ISRG',
 'MMC',
 'ABNB',
 'ZTS',
 'TGT',
 'SLB',
 'DUK',
 'VRTX',
 'USB']

In [5]:
name

['Apple',
 'Microsoft',
 'Alphabet (Google)',
 'Amazon',
 'Berkshire Hathaway',
 'Tesla',
 'NVIDIA',
 'Visa',
 'UnitedHealth',
 'Exxon Mobil',
 'Meta Platforms (Facebook)',
 'JPMorgan Chase',
 'Johnson & Johnson',
 'Walmart',
 'Mastercard',
 'Procter & Gamble',
 'Chevron',
 'Eli Lilly',
 'Home Depot',
 'Merck',
 'Bank of America',
 'AbbVie',
 'Coca-Cola',
 'Pepsico',
 'Broadcom',
 'Oracle',
 'Pfizer',
 'Costco',
 'Thermo Fisher Scientific',
 'Cisco',
 'McDonald',
 'Walt Disney',
 'Nike',
 'Danaher',
 'Wells Fargo',
 'T-Mobile US',
 'Abbott Laboratories',
 'Morgan Stanley',
 'Verizon',
 'Salesforce',
 'Comcast',
 'United Parcel Service',
 'Texas Instruments',
 'Philip Morris',
 'Charles Schwab',
 'Bristol-Myers Squibb',
 'Adobe',
 'Raytheon Technologies',
 'Nextera Energy',
 'Netflix',
 'QUALCOMM',
 'AT&T',
 'American Express',
 'Honeywell',
 'ConocoPhillips',
 'AMD',
 'Amgen',
 'Deere & Company',
 'Lockheed Martin',
 'Goldman Sachs',
 'Caterpillar',
 "Lowe's Companies",
 'Union Pacific Corporation',
 'Boeing',
 'Intuit',
 'IBM',
 'Starbucks',
 'Elevance Health',
 'S&P Global',
 'Prologis',
 'CVS Health',
 'Intel',
 'BlackRock',
 'Gilead Sciences',
 'Stryker Corporation',
 'Citigroup',
 'Booking Holdings (Booking.com)',
 'Applied Materials',
 'Analog Devices',
 'Automatic Data Processing',
 'American Tower',
 'General Electric',
 'Mondelez',
 'TJX Companies',
 'Cigna',
 'Estee Lauder',
 'ServiceNow',
 'Altria Group',
 'PayPal',
 'Progressive',
 'Regeneron Pharmaceuticals',
 'Intuitive Surgical',
 'Marsh & McLennan Companies',
 'Airbnb',
 'Zoetis',
 'Target',
 'Schlumberger',
 'Duke Energy',
 'Vertex Pharmaceuticals',
 'U.S. Bancorp']

In [36]:
import pandas as pd
df_tmp = pd.DataFrame({'company': name,
                       'code':code
                       })

df_tmp

                   company   code
0                    Apple   AAPL
1                Microsoft   MSFT
2        Alphabet (Google)   GOOG
3                   Amazon   AMZN
4       Berkshire Hathaway  BRK-B
..                     ...    ...
95                  Target    TGT
96            Schlumberger    SLB
97             Duke Energy    DUK
98  Vertex Pharmaceuticals   VRTX
99            U.S. Bancorp    USB

[100 rows x 2 columns]

In [37]:
import pandas as pd
company_code = df_tmp['code'].tolist()
df_ticker_list = df_tmp.set_index('code')
df_ticker_list.head(3)

                company
code
AAPL              Apple
MSFT          Microsoft
GOOG  Alphabet (Google)

In [8]:
url = 'https://stockrow.com/users/sign_in'
driver.get(url)
driver.set_window_size(1920,1080)
time.sleep(0.5)
sign_in = driver.find_elements(By.TAG_NAME,'input')
email = sign_in[1].send_keys('ksyrobot@gmail.com')
password = sign_in[2].send_keys('rlatpdus22')
sign_in[5].click()

In [25]:
pip install tqdm

Collecting tqdm
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: colorama in c:\users\user\ws\venv\lib\site-packages (from tqdm) (0.4.6)
Installing collected packages: tqdm
Successfully installed tqdm-4.64.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\User\ws\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [26]:
from tqdm import tqdm
url_base = 'https://stockrow.com/'
code_error = 0
test = []
year_list = []
key_index_list = [6, 8, 19, 21, 22, 23, 25] #원하는 지표 : PER, PBR, 
data_list = []
usa_df = []

for each_company in tqdm(code[:]):
    # if  len(usa_df) <= 1:
        driver.get(url_base + each_company)
        time.sleep(2)

        try:
            table = driver.find_element(By.CLASS_NAME, 'fundamentals') #전체 테이블
            table_rows = table.find_elements(By.TAG_NAME, 'tr')

            for key_index in key_index_list:
                raw_data = table_rows[key_index].find_elements(By.TAG_NAME, 'td')
                tag_list = []


                # replacing , or %
                if key_index not in [23, 25]:
                    for tag in raw_data:
                        tag_list.append(tag.text.replace(",",''))
                    data_list.append(tag_list)

                else:
                    for tag in raw_data:
                        tag_list.append(tag.text.replace('%',''))
                    data_list.append(tag_list)      
            

            # company_name_code add
            company_name_list = []
            real_company_name = df_ticker_list.loc[each_company][0]
            for i in range(14):
                company_name_list.append(real_company_name)
                
            data_list.append(company_name_list)
            
            usa_df.append(data_list)
            data_list = [] 
            time.sleep(0.1)

        except:
            print(usa_df[-1])
            code_error += 1
            print(each_company)
        
    # else:
    #     break

  5%|▌         | 5/100 [01:15<18:59, 12.00s/it]

[['675.93', '0.00', '527.97', '150.72', '188.43', '72.70', '78.80', '76.46', '50.57', '0.00', '69.60', '36.80', '27.20', 'PE Ratio'], ['18.70', '13.35', '23.58', '18.52', '20.60', '16.80', '14.71', '17.44', '12.20', '5.99', '5.35', '4.15', '3.31', 'PB Ratio'], ['2031.00', '1949.00', '7450.00', '10466.00', '8307.00', '19400.00', '25825.00', '31020.00', '(9069.00)', '(11569.00)', '19782.00', '36614.00', '56848.00', 'FCF'], ['3191.00', '8265.00', '8227.00', '12891.00', '30925.00', '32997.00', '37744.00', '47931.00', '64667.00', '67150.00', '–', '–', '–', 'Total Debt'], ['9746.00', '10741.00', '13384.00', '19285.00', '27709.00', '43549.00', '62060.00', '93404.00', '138245.00', '146043.00', '–', '–', '–', "Sh' Equity"], ['0.75', '(0.51)', '1.00', '3.20', '2.83', '6.85', '5.97', '7.81', '9.00', '(0.62)', '3.90', '5.58', '5.91', 'ROA'], ['3.05', '(2.35)', '4.94', '14.52', '12.91', '28.27', '21.95', '27.44', '28.81', '(1.91)', '10.80', '13.30', '15.00', 'ROE'], ['Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon', 'Amazon']]
BRK-B

 11%|█         | 11/100 [02:21<14:43,  9.93s/it]

[['13.73', '12.16', '20.25', '48.35', '18.37', '13.97', '20.77', '0.00', '11.35', '8.03', '10.30', '11.00', '–', 'PE Ratio'], ['2.48', '2.19', '1.85', '2.18', '1.86', '1.47', '1.50', '1.07', '1.49', '2.17', '2.16', '2.02', '–', 'PB Ratio'], ['11245.00', '12164.00', '3854.00', '5919.00', '14664.00', '16440.00', '5355.00', '(1615.00)', '39229.00', '63637.00', '43244.00', '37965.00', '–', 'FCF'], ['6891.00', '11653.00', '19925.00', '42762.00', '42336.00', '37796.00', '48146.00', '68812.00', '49075.00', '41193.00', '–', '–', '–', 'Total Debt'], ['180495.00', '181064.00', '176810.00', '173830.00', '194500.00', '198528.00', '198938.00', '164130.00', '175683.00', '202473.00', '–', '–', '–', "Sh' Equity"], ['9.57', '9.34', '4.71', '2.35', '5.81', '6.00', '4.05', '(6.45)', '6.86', '15.75', '10.50', '8.67', '–', 'ROA'], ['18.50', '17.99', '9.03', '4.47', '10.70', '10.60', '7.22', '(12.36)', '13.56', '29.48', '21.10', '17.30', '–', 'ROE'], ['Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil', 'Exxon Mobil']]
META

 52%|█████▏    | 52/100 [10:45<07:33,  9.44s/it]

[['16.91', '15.87', '16.58', '17.89', '31.07', '0.00', '21.07', '25.64', '16.14', '9.82', '–', '–', '–', 'PE Ratio'], ['3.20', '3.21', '2.77', '3.20', '2.49', '131.62', '18.80', '21.98', '14.66', '7.04', '–', '–', '–', 'PB Ratio'], ['7734.00', '7739.00', '4778.00', '7093.00', '4311.00', '12312.00', '6597.00', '4407.00', '8648.00', '6834.00', '–', '–', '–', 'FCF'], ['–', '–', '10969.00', '11757.00', '21893.00', '16370.00', '15933.00', '15726.00', '15745.00', '15482.00', '–', '–', '–', 'Total Debt'], ['36087.00', '39166.00', '31414.00', '31768.00', '30746.00', '807.00', '4909.00', '6077.00', '9950.00', '18013.00', '–', '–', '–', "Sh' Equity"], ['15.48', '16.93', '10.61', '11.06', '4.15', '(10.11)', '13.36', '15.17', '23.54', '28.67', '–', '–', '–', 'ROA'], ['19.68', '21.17', '14.94', '18.06', '7.82', '(31.46)', '153.46', '94.63', '112.85', '92.52', '–', '–', '–', 'ROE'], ['QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM', 'QUALCOMM']]
T

 59%|█████▉    | 59/100 [12:00<06:04,  8.88s/it]

[['8.94', '9.90', '13.87', '18.28', '19.80', '18.48', '16.96', '26.39', '18.75', '16.86', '14.00', '13.20', '12.70', 'PE Ratio'], ['3.07', '3.43', '3.96', '4.26', '4.44', '3.87', '4.83', '5.61', '6.06', '5.95', '5.74', '4.71', '3.70', 'PB Ratio'], ['3032.60', '3569.10', '4114.20', '4381.50', '3042.00', '2409.00', '3940.00', '8446.00', '8972.00', '5658.00', '8093.00', '8826.00', '8816.00', 'FCF'], ['34475.70', '36958.40', '36849.40', '35611.50', '40045.30', '42256.00', '45334.00', '46600.00', '48691.00', '52201.00', '–', '–', '–', 'Total Debt'], ['10267.70', '9065.50', '6757.60', '6530.80', '9560.50', '11288.00', '11413.00', '12937.00', '18431.00', '20262.00', '–', '–', '–', "Sh' Equity"], ['6.11', '5.23', '3.25', '2.63', '3.49', '3.49', '4.55', '3.72', '7.49', '8.19', '15.90', '15.10', '15.20', 'ROA'], ['41.30', '32.71', '24.52', '22.94', '26.83', '22.72', '28.66', '22.60', '38.02', '36.86', '41.00', '35.60', '30.00', 'ROE'], ['Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company', 'Deere & Company']]
LMT

 64%|██████▍   | 64/100 [12:42<04:25,  7.36s/it]

[['17.72', '20.61', '14.19', '20.14', '10.01', '17.37', '21.47', '26.39', '25.22', '18.48', '16.60', '15.20', '13.80', 'PE Ratio'], ['3.67', '5.04', '3.27', '4.28', '4.36', '5.08', '7.02', '8.32', '11.63', '10.63', '9.85', '9.55', '7.57', 'PB Ratio'], ['3425.00', '3177.00', '2945.00', '4149.00', '4160.00', '5312.00', '5230.00', '5762.00', '6274.00', '5936.00', '6208.00', '6387.00', '6800.00', 'FCF'], ['9577.00', '11413.00', '14201.00', '15007.00', '16944.00', '22391.00', '25200.00', '26729.00', '29729.00', '33326.00', '–', '–', '–', 'Total Debt'], ['21225.00', '21189.00', '20702.00', '19932.00', '24856.00', '20423.00', '18128.00', '16958.00', '14161.00', '12163.00', '–', '–', '–', "Sh' Equity"], ['9.06', '10.15', '8.92', '7.67', '18.87', '10.20', '9.80', '8.62', '10.36', '10.85', '10.50', '14.60', '11.80', 'ROA'], ['21.35', '24.43', '22.78', '20.83', '47.83', '26.35', '30.71', '30.49', '41.92', '53.17', '60.00', '66.20', '95.90', 'ROE'], ['Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation', 'Union Pacific Corporation']]
BA

 68%|██████▊   | 68/100 [13:14<03:47,  7.11s/it]

[['34.06', '27.85', '31.23', '28.49', '27.31', '17.31', '30.18', '111.58', '31.07', '29.88', '30.60', '25.30', '21.50', 'PE Ratio'], ['12.87', '10.78', '14.61', '13.53', '14.29', '65.36', '0.00', '0.00', '0.00', '0.00', '(14.34)', '(12.79)', '(10.10)', 'PB Ratio'], ['1757.10', '(553.10)', '2454.30', '3257.60', '2732.40', '9961.40', '3240.40', '114.20', '4519.10', '2556.00', '3620.00', '4177.00', '4853.00', 'FCF'], ['1299.40', '2048.30', '2347.50', '3585.20', '3936.60', '9440.10', '11172.00', '15909.50', '14615.80', '15043.90', '–', '–', '–', 'Total Debt'], ['4482.30', '5273.70', '5819.80', '5890.70', '5457.00', '1175.80', '(6231.00)', '(7799.40)', '(5314.50)', '(8698.70)', '–', '–', '–', "Sh' Equity"], ['0.08', '18.57', '23.80', '21.08', '20.12', '23.46', '16.60', '3.82', '13.82', '11.05', '17.00', '19.20', '16.10', 'ROA'], ['0.17', '42.40', '49.71', '48.12', '50.84', '136.24', '(142.40)', '(13.23)', '(64.04)', '(46.84)', '0.00', '0.00', '0.00', 'ROE'], ['Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks', 'Starbucks']]
ELV

100%|██████████| 100/100 [18:25<00:00, 11.05s/it]

In [106]:
df_usa = pd.DataFrame(usa_df)
df_raw_us = df_usa.copy()
df_raw_us

,0,1,2,3,4,5,6,7
0,"[11.95, 15.56, 11.93, 13.59, 16.63, 18.99, 18....","[3.57, 5.50, 5.32, 4.82, 5.99, 10.51, 11.43, 3...","[44590.00, 49900.00, 69778.00, 53200.00, 51774...","[16960.00, 35295.00, 64328.00, 87032.00, 11568...","[123549.00, 111547.00, 119355.00, 128249.00, 1...","[19.34, 18.01, 20.45, 14.93, 13.87, 16.07, 15....","[30.64, 33.61, 46.25, 36.90, 36.87, 49.36, 55....","[Apple, Apple, Apple, Apple, Apple, Apple, App..."
1,"[13.22, 15.68, 30.03, 24.48, 25.25, 46.73, 26....","[3.65, 3.85, 4.51, 5.63, 6.09, 9.31, 10.17, 13...","[24576.00, 27017.00, 23724.00, 24982.00, 31378...","[15600.00, 22645.00, 35292.00, 53461.00, 86194...","[78944.00, 89784.00, 80083.00, 71997.00, 87711...","[16.58, 14.02, 7.03, 11.16, 11.49, 6.51, 14.39...","[30.09, 26.17, 14.36, 27.01, 31.92, 19.45, 42....","[Microsoft, Microsoft, Microsoft, Microsoft, M..."
2,"[14.41, 24.65, 32.68, 27.86, 58.45, 23.42, 26....","[4.26, 3.42, 4.32, 3.89, 4.84, 4.05, 4.60, 5.3...","[11301.00, 12065.00, 16657.00, 26064.00, 23907...","[2236.00, 3228.00, 1995.00, 3935.00, 3969.00, ...","[87309.00, 103860.00, 120331.00, 139036.00, 15...","[12.44, 11.77, 11.44, 12.37, 6.94, 14.29, 13.5...","[16.01, 14.79, 14.12, 15.02, 8.69, 18.62, 18.1...","[Alphabet (Google), Alphabet (Google), Alphabe..."
3,"[675.93, 0.00, 527.97, 150.72, 188.43, 72.70, ...","[18.70, 13.35, 23.58, 18.52, 20.60, 16.80, 14....","[2031.00, 1949.00, 7450.00, 10466.00, 8307.00,...","[3191.00, 8265.00, 8227.00, 12891.00, 30925.00...","[9746.00, 10741.00, 13384.00, 19285.00, 27709....","[0.75, (0.51), 1.00, 3.20, 2.83, 6.85, 5.97, 7...","[3.05, (2.35), 4.94, 14.52, 12.91, 28.27, 21.9...","[Amazon, Amazon, Amazon, Amazon, Amazon, Amazo..."
4,"[0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 966...","[26.93, 30.39, 28.39, 5.65, 10.17, 9.86, 9.94,...","[0.58, (1027.22), (2159.35), (1404.63), (3476....","[598.97, 2488.08, 2696.30, 7029.27, 10314.94, ...","[667.12, 911.71, 1083.70, 5538.09, 5234.59, 49...","[(4.19), (7.13), (12.79), (4.39), (7.65), (3.3...","[(18.69), (37.25), (89.07), (20.38), (36.43), ...","[Tesla, Tesla, Tesla, Tesla, Tesla, Tesla, Tes..."
...,...,...,...,...,...,...,...,...
89,"[13.22, 18.27, 0.00, 13.54, 13.55, 14.03, 13.1...","[2.40, 2.22, 3.37, 3.53, 3.40, 3.53, 3.42, 4.7...","[3045.00, 4704.00, 2774.00, 4548.00, 3943.00, ...","[17648.00, 12572.00, 12725.00, 12760.00, 12749...","[16558.00, 16231.00, 13997.00, 12957.00, 10953...","[6.33, 4.25, (3.82), 8.26, 7.04, 7.50, 7.20, 7...","[18.52, 12.02, (10.82), 24.95, 22.87, 25.78, 2...","[Target, Target, Target, Target, Target, Targe..."
90,"[17.70, 20.38, 43.06, 0.00, 0.00, 23.43, 0.00,...","[3.01, 2.91, 2.46, 2.77, 2.59, 1.37, 2.30, 2.4...","[6353.00, 6898.00, 5909.00, 3576.00, 3280.00, ...","[12212.00, 11809.00, 17453.00, 19616.00, 18199...","[39635.00, 38049.00, 35905.00, 41529.00, 37261...","[10.47, 8.12, 3.07, (2.31), (2.01), 3.00, (15....","[18.07, 14.00, 5.60, (4.36), (3.82), 5.82, (33...","[Schlumberger, Schlumberger, Schlumberger, Sch..."
91,"[18.35, 31.41, 17.67, 24.83, 19.09, 23.01, 17....","[1.18, 1.44, 1.25, 1.31, 1.40, 1.39, 1.45, 1.4...","[856.00, 1202.00, (66.00), (1038.00), (1428.00...","[40256.00, 39868.00, 38868.00, 47895.00, 52279...","[41408.00, 40899.00, 39771.00, 41041.00, 41737...","[2.33, 1.60, 2.33, 1.70, 2.26, 1.88, 2.44, 0.7...","[6.47, 4.58, 6.98, 5.33, 7.39, 6.23, 8.25, 2.7...","[Duke Energy, Duke Energy, Duke Energy, Duke E..."
92,"[0.00, 0.00, 0.00, 0.00, 142.91, 20.11, 47.91,...","[12.32, 25.50, 27.76, 13.69, 18.63, 9.50, 9.24...","[(112.06), (624.31), (410.73), 179.54, 745.52,...","[489.69, 807.14, 810.69, 821.34, 606.90, 591.5...","[1356.40, 1096.18, 1093.63, 1338.19, 2042.31, ...","[(17.53), (31.74), (23.02), (4.15), 8.18, 42.8...","[(34.87), (60.23), (50.81), (9.22), 15.59, 64....","[Vertex Pharmaceuticals, Vertex Pharmaceutical..."
93,"[13.42, 14.55, 13.42, 15.79, 15.31, 11.01, 14....","[2.01, 2.06, 1.82, 2.08, 2.05, 1.64, 2.02, 1.4...","[11446.00, 5332.00, 8782.00, 5336.00, 6472.00,...","[20049.00, 32260.00, 32078.00, 52747.00, 48910...","[41807.00, 44168.00, 46817.00, 47933.00, 49666...","[1.55, 1.46, 1.36, 1.29, 1.30, 1.46, 1.37, 0.8...","[15.31, 14.60, 13.89, 13.35, 13.64, 15.09, 14....","[U.S. Bancorp, U.S. Bancorp, U.S. Bancorp, U.S..."

In [107]:
df_raw_us.to_csv('./df_raw_us.csv', sep=',', encoding='utf-8')

In [108]:
# 빈 데이터 프레임 생성
StockMarketEDA_us_raw = pd.DataFrame(columns = [
    'year',
    'PE ratio',
    'PB Ratio',
    'FCF',
    'Total Debt',
    'Sh Equity',
    'ROA',
    'ROE',
    'company name'
])


year = [yr for yr in range(2013,2023)]
user_year = -4 # -4:2022, -3:2023
# loop 를 돌며 데이터 프레임 생성
for each_company in usa_df:
    df_temp = pd.DataFrame({
        'year': year,
        'PE ratio': each_company[0][:user_year],
        'PB Ratio': each_company[1][:user_year],
        'FCF': each_company[2][:user_year],
        'Total Debt': each_company[3][:user_year],
        'Sh Equity': each_company[4][:user_year],
        'ROA': each_company[5][:user_year],
        'ROE': each_company[6][:user_year],
        'company name': each_company[-1][:user_year],
    })
    StockMarketEDA_us_raw = pd.concat([StockMarketEDA_us_raw,df_temp])
StockMarketEDA_us_raw.reset_index(inplace=True)
del StockMarketEDA_us_raw['index']
StockMarketEDA_us_raw

,year,PE ratio,PB Ratio,FCF,Total Debt,Sh Equity,ROA,ROE,company name
0,2013,11.95,3.57,44590.00,16960.00,123549.00,19.34,30.64,Apple
1,2014,15.56,5.50,49900.00,35295.00,111547.00,18.01,33.61,Apple
2,2015,11.93,5.32,69778.00,64328.00,119355.00,20.45,46.25,Apple
3,2016,13.59,4.82,53200.00,87032.00,128249.00,14.93,36.90,Apple
4,2017,16.63,5.99,51774.00,115680.00,134047.00,13.87,36.87,Apple
...,...,...,...,...,...,...,...,...,...
935,2018,11.01,1.64,10564.00,63559.00,51657.00,1.46,15.09,U.S. Bancorp
936,2019,14.22,2.02,4889.00,67958.00,52483.00,1.37,14.28,U.S. Bancorp
937,2020,15.18,1.47,3716.00,60619.00,53725.00,0.88,9.81,U.S. Bancorp
938,2021,10.99,1.71,9870.00,48399.00,55387.00,1.35,15.72,U.S. Bancorp
939,2022,12.03,1.51,–,39829.00,51232.00,0.88,11.77,U.S. Bancorp

In [110]:
df_us_ing_v1 = StockMarketEDA_us_raw.copy()
df_us_ing_v1

,year,PE ratio,PB Ratio,FCF,Total Debt,Sh Equity,ROA,ROE,company name
0,2013,11.95,3.57,44590.00,16960.00,123549.00,19.34,30.64,Apple
1,2014,15.56,5.50,49900.00,35295.00,111547.00,18.01,33.61,Apple
2,2015,11.93,5.32,69778.00,64328.00,119355.00,20.45,46.25,Apple
3,2016,13.59,4.82,53200.00,87032.00,128249.00,14.93,36.90,Apple
4,2017,16.63,5.99,51774.00,115680.00,134047.00,13.87,36.87,Apple
...,...,...,...,...,...,...,...,...,...
935,2018,11.01,1.64,10564.00,63559.00,51657.00,1.46,15.09,U.S. Bancorp
936,2019,14.22,2.02,4889.00,67958.00,52483.00,1.37,14.28,U.S. Bancorp
937,2020,15.18,1.47,3716.00,60619.00,53725.00,0.88,9.81,U.S. Bancorp
938,2021,10.99,1.71,9870.00,48399.00,55387.00,1.35,15.72,U.S. Bancorp
939,2022,12.03,1.51,–,39829.00,51232.00,0.88,11.77,U.S. Bancorp

In [111]:
df_us_ing_v1.to_csv('./df_us_ing_v1.csv', sep=',', encoding='utf-8')

In [11]:
StockMarketEDA_us_raw = pd.read_csv('./df_us_ing_v1.csv', encoding='utf-8')

## 데이터 분리 : '-'를 포함한 경우

In [38]:
wrong_value_index_list = []

column_list = StockMarketEDA_us_raw.columns.values.tolist()
for column in column_list:
    for index, each_row in enumerate(StockMarketEDA_us_raw[column]):
        if each_row == '–':
            wrong_value_index_list.append(StockMarketEDA_us_raw['company name'][index])

len(wrong_value_index_list)

79

In [39]:
df_wrong_value_company_list = pd.DataFrame({'wrong_value_company_list':wrong_value_index_list})
wrong_value_company_list = df_wrong_value_company_list['wrong_value_company_list'].unique().tolist()
all_company_list = StockMarketEDA_us_raw['company name'].unique().tolist()

In [40]:
df_wrong_value_company_list

          wrong_value_company_list
0                   ConocoPhillips
1   Booking Holdings (Booking.com)
2                           Airbnb
3                           Airbnb
4                           Airbnb
..                             ...
74  Booking Holdings (Booking.com)
75                          Airbnb
76                          Airbnb
77                          Airbnb
78                          Airbnb

[79 rows x 1 columns]

## 새로운 ticker list

In [41]:
out_list = df_wrong_value_company_list['wrong_value_company_list'].unique()
len(out_list)

20

In [44]:
df_ticker_list

                      company
code
AAPL                    Apple
MSFT                Microsoft
GOOG        Alphabet (Google)
AMZN                   Amazon
BRK-B      Berkshire Hathaway
...                       ...
TGT                    Target
SLB              Schlumberger
DUK               Duke Energy
VRTX   Vertex Pharmaceuticals
USB              U.S. Bancorp

[100 rows x 1 columns]

In [56]:
df_ticker_list_new = df_ticker_list.copy()
new_ticker_list = df_ticker_list_new.index
new_ticker_list = new_ticker_list.tolist()
len(new_ticker_list)

100

In [66]:
new_list = []
for i,j in zip(new_ticker_list, out_list):
    if i !=j:
        new_list.append(i)
    #if i == j:
    #    new_list.remove(i)
            
len(new_list)

20

In [59]:
len(new_ticker_list)

100

In [25]:
new_code_list = []
for i in range(100):
    if df_tmp['company'][i] in new_ticker_list:
        new_code_list.append(df_tmp['code'][i])

new_code_list

NameError: name 'df_tmp' is not defined

In [21]:
df_new_ticker = pd.DataFrame({'company': new_ticker_list ,
                       'code': new_code_list
                       })

df_new_ticker

ValueError: All arrays must be of the same length

In [115]:
def EDA_each(EDA_df, index):
    return EDA_df.loc[EDA_df['company name'] == index]

StockMarketEDA_us_clean = pd.DataFrame(columns = [
    'PE ratio',
    'PB Ratio',
    'FCF',
    'Total Debt',
    'Sh Equity',
    'ROA',
    'ROE',
    'company name'
])


for each_company in all_company_list:
    if each_company not in wrong_value_company_list:
        tmp = EDA_each(StockMarketEDA_us_raw,each_company)
        StockMarketEDA_us_clean = pd.concat([StockMarketEDA_us_clean, tmp])

StockMarketEDA_us_clean.insert(0, 'company_name', StockMarketEDA_us_clean.pop('company name'))

StockMarketEDA_us_clean = StockMarketEDA_us_clean.reset_index()
del StockMarketEDA_us_clean['index']

for index in range(len(StockMarketEDA_us_clean)):
    for column in StockMarketEDA_us_clean.columns.values.tolist():
        if type(StockMarketEDA_us_clean[column].loc[index]) == str:
            StockMarketEDA_us_clean[column].loc[index] = StockMarketEDA_us_clean[column].loc[index].replace("(","").replace(")","").replace(",","")

# StockMarketEDA_us_clean.insert(0, 'company_name', StockMarketEDA_us_clean.pop('company name'))
StockMarketEDA_us_clean = StockMarketEDA_us_clean.set_index('year')
#StockMarketEDA_us_clean.to_csv('../data/StockMarketEDA_us_clean.csv', sep=',', encoding='utf-8')
StockMarketEDA_us_clean

,company_name,PE ratio,PB Ratio,FCF,Total Debt,Sh Equity,ROA,ROE
year,,,,,,,,
2013,Apple,11.95,3.57,44590.00,16960.00,123549.00,19.34,30.64
2014,Apple,15.56,5.50,49900.00,35295.00,111547.00,18.01,33.61
2015,Apple,11.93,5.32,69778.00,64328.00,119355.00,20.45,46.25
2016,Apple,13.59,4.82,53200.00,87032.00,128249.00,14.93,36.90
2017,Apple,16.63,5.99,51774.00,115680.00,134047.00,13.87,36.87
...,...,...,...,...,...,...,...,...
2018,Vertex Pharmaceuticals,20.11,9.50,1174.84,591.55,4435.20,42.83,64.74
2019,Vertex Pharmaceuticals,47.91,9.24,1493.90,588.58,6085.24,16.16,22.37
2020,Vertex Pharmaceuticals,22.68,7.07,2993.70,592.00,8686.80,27.02,36.71
2021,Vertex Pharmaceuticals,24.13,5.60,2408.50,589.80,10100.00,18.60,24.93
2022,Vertex Pharmaceuticals,22.04,5.27,3925.20,430.80,13912.70,21.04,27.67

In [116]:
df_us_no_error = StockMarketEDA_us_clean.copy()
df_us_no_error.to_csv('./df_us_no_error.csv', sep=',', encoding='utf-8')

In [117]:
StockMarketEDA_us_clean

,company_name,PE ratio,PB Ratio,FCF,Total Debt,Sh Equity,ROA,ROE
year,,,,,,,,
2013,Apple,11.95,3.57,44590.00,16960.00,123549.00,19.34,30.64
2014,Apple,15.56,5.50,49900.00,35295.00,111547.00,18.01,33.61
2015,Apple,11.93,5.32,69778.00,64328.00,119355.00,20.45,46.25
2016,Apple,13.59,4.82,53200.00,87032.00,128249.00,14.93,36.90
2017,Apple,16.63,5.99,51774.00,115680.00,134047.00,13.87,36.87
...,...,...,...,...,...,...,...,...
2018,Vertex Pharmaceuticals,20.11,9.50,1174.84,591.55,4435.20,42.83,64.74
2019,Vertex Pharmaceuticals,47.91,9.24,1493.90,588.58,6085.24,16.16,22.37
2020,Vertex Pharmaceuticals,22.68,7.07,2993.70,592.00,8686.80,27.02,36.71
2021,Vertex Pharmaceuticals,24.13,5.60,2408.50,589.80,10100.00,18.60,24.93
2022,Vertex Pharmaceuticals,22.04,5.27,3925.20,430.80,13912.70,21.04,27.67

In [118]:
StockMarketEDA_us_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740 entries, 2013 to 2022
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  740 non-null    object
 1   PE ratio      740 non-null    object
 2   PB Ratio      740 non-null    object
 3   FCF           740 non-null    object
 4   Total Debt    740 non-null    object
 5   Sh Equity     740 non-null    object
 6   ROA           740 non-null    object
 7   ROE           740 non-null    object
dtypes: object(8)
memory usage: 52.0+ KB

In [119]:
StockMarketEDA_us_clean.columns

Index(['company_name', 'PE ratio', 'PB Ratio', 'FCF', 'Total Debt',
       'Sh Equity', 'ROA', 'ROE'],
      dtype='object')

In [120]:
import numpy as np

for i in StockMarketEDA_us_clean.columns[1:]:
    StockMarketEDA_us_clean[i] = StockMarketEDA_us_clean[i].astype(np.float64)

StockMarketEDA_us_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 740 entries, 2013 to 2022
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  740 non-null    object
 1   PE ratio      740 non-null    float64
 2   PB Ratio      740 non-null    float64
 3   FCF           740 non-null    float64
 4   Total Debt    740 non-null    float64
 5   Sh Equity     740 non-null    float64
 6   ROA           740 non-null    float64
 7   ROE           740 non-null    float64
dtypes: float64(7), object(1)
memory usage: 52.0+ KB

In [121]:
# RATIO
column_index_list_percent = ['Equity_Ratio', 'FCF_Ratio']
column_index_list = ['Sh Equity', 'FCF']
for column_index_percent, column_index in zip(column_index_list_percent, column_index_list):
    StockMarketEDA_us_clean[column_index_percent] = StockMarketEDA_us_clean[column_index] /(StockMarketEDA_us_clean['Total Debt'] + StockMarketEDA_us_clean['Sh Equity'])*100
StockMarketEDA_us_clean

,company_name,PE ratio,PB Ratio,FCF,Total Debt,Sh Equity,ROA,ROE,Equity_Ratio,FCF_Ratio
year,,,,,,,,,,
2013,Apple,11.95,3.57,44590.00,16960.00,123549.00,19.34,30.64,87.929599,31.734622
2014,Apple,15.56,5.50,49900.00,35295.00,111547.00,18.01,33.61,75.963961,33.982103
2015,Apple,11.93,5.32,69778.00,64328.00,119355.00,20.45,46.25,64.978795,37.988273
2016,Apple,13.59,4.82,53200.00,87032.00,128249.00,14.93,36.90,59.572837,24.711888
2017,Apple,16.63,5.99,51774.00,115680.00,134047.00,13.87,36.87,53.677416,20.732240
...,...,...,...,...,...,...,...,...,...,...
2018,Vertex Pharmaceuticals,20.11,9.50,1174.84,591.55,4435.20,42.83,64.74,88.231959,23.371761
2019,Vertex Pharmaceuticals,47.91,9.24,1493.90,588.58,6085.24,16.16,22.37,91.180763,22.384481
2020,Vertex Pharmaceuticals,22.68,7.07,2993.70,592.00,8686.80,27.02,36.71,93.619865,32.263870
2021,Vertex Pharmaceuticals,24.13,5.60,2408.50,589.80,10100.00,18.60,24.93,94.482591,22.530824
2022,Vertex Pharmaceuticals,22.04,5.27,3925.20,430.80,13912.70,21.04,27.67,96.996549,27.365706

In [122]:
StockMarketEDA_us_clean = StockMarketEDA_us_clean.drop(StockMarketEDA_us_clean.columns[[3,4,5]], axis=1)

In [123]:
StockMarketEDA_us_clean.rename(
    columns={
        StockMarketEDA_us_clean.columns[0]: "name",
        StockMarketEDA_us_clean.columns[1]: "PER",
        StockMarketEDA_us_clean.columns[2]: "PBR",
        StockMarketEDA_us_clean.columns[3]: "ROA",
        StockMarketEDA_us_clean.columns[4]: "ROE"
    }, inplace=True
)
StockMarketEDA_us_clean

,name,PER,PBR,ROA,ROE,Equity_Ratio,FCF_Ratio
year,,,,,,,
2013,Apple,11.95,3.57,19.34,30.64,87.929599,31.734622
2014,Apple,15.56,5.50,18.01,33.61,75.963961,33.982103
2015,Apple,11.93,5.32,20.45,46.25,64.978795,37.988273
2016,Apple,13.59,4.82,14.93,36.90,59.572837,24.711888
2017,Apple,16.63,5.99,13.87,36.87,53.677416,20.732240
...,...,...,...,...,...,...,...
2018,Vertex Pharmaceuticals,20.11,9.50,42.83,64.74,88.231959,23.371761
2019,Vertex Pharmaceuticals,47.91,9.24,16.16,22.37,91.180763,22.384481
2020,Vertex Pharmaceuticals,22.68,7.07,27.02,36.71,93.619865,32.263870
2021,Vertex Pharmaceuticals,24.13,5.60,18.60,24.93,94.482591,22.530824
2022,Vertex Pharmaceuticals,22.04,5.27,21.04,27.67,96.996549,27.365706

In [124]:
StockMarketEDA_us_clean.insert(1, "ROE" ,StockMarketEDA_us_clean.pop('ROE'))
StockMarketEDA_us_clean.insert(4, "PBR" ,StockMarketEDA_us_clean.pop('PBR'))
StockMarketEDA_us_clean.insert(3, "PER" ,StockMarketEDA_us_clean.pop('PER'))
StockMarketEDA_us_clean

,name,ROE,ROA,PER,PBR,Equity_Ratio,FCF_Ratio
year,,,,,,,
2013,Apple,30.64,19.34,11.95,3.57,87.929599,31.734622
2014,Apple,33.61,18.01,15.56,5.50,75.963961,33.982103
2015,Apple,46.25,20.45,11.93,5.32,64.978795,37.988273
2016,Apple,36.90,14.93,13.59,4.82,59.572837,24.711888
2017,Apple,36.87,13.87,16.63,5.99,53.677416,20.732240
...,...,...,...,...,...,...,...
2018,Vertex Pharmaceuticals,64.74,42.83,20.11,9.50,88.231959,23.371761
2019,Vertex Pharmaceuticals,22.37,16.16,47.91,9.24,91.180763,22.384481
2020,Vertex Pharmaceuticals,36.71,27.02,22.68,7.07,93.619865,32.263870
2021,Vertex Pharmaceuticals,24.93,18.60,24.13,5.60,94.482591,22.530824
2022,Vertex Pharmaceuticals,27.67,21.04,22.04,5.27,96.996549,27.365706

In [125]:
StockMarketEDA_us_clean.to_csv('./df_us_ready.csv', sep=',', encoding='utf-8')

## 데이터 정리 완료

## YOY

In [127]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
Collecting requests>=2.26
  Using cached requests-2.28.2-py3-none-any.whl (62 kB)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp39-cp39-win_amd64.whl (35 kB)
Collecting appdirs>=1.4.4
  Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting lxml>=4.9.1
  Using cached lxml-4.9.2-cp39-cp39-win_amd64.whl (3.9 MB)
Collecting html5lib>=1.1
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\user\ws\venv\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user\ws\venv\lib\site-packages (from yfinance) (4.11.2)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.1-cp36-abi3-win_amd64.whl (2.5 MB)
Requirement already satisfied: pytz>=2022.5 in c:\users\user\ws\venv\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\ws\venv\lib\site-packages (from yfinance) (1.24.2)
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\ws\venv\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in c:\users\user\ws\venv\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: pycparser in c:\users\user\ws\venv\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Collecting webencodings
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: six>=1.9 in c:\users\user\ws\venv\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\ws\venv\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\ws\venv\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\ws\venv\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\ws\venv\lib\site-packages (from requests>=2.26->yfinance) (1.26.14)
Collecting charset-normalizer<4,>=2
  Using cached charset_normalizer-3.0.1-cp39-cp39-win_amd64.whl (96 kB)
Installing collected packages: webencodings, charset-normalizer, requests, multitasking, lxml, html5lib, frozendict, cryptography, appdirs, yfinance
Successfully installed appdirs-1.4.4 charset-normalizer-3.0.1 cryptography-39.0.1 frozendict-2.3.5 html5lib-1.1 lxml-4.9.2 multitasking-0.0.11 requests-2.28.2 webencodings-0.5.1 yfinance-0.2.12
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\User\ws\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [128]:
from datetime import datetime
from datetime import timedelta
import yfinance as yf
import yfinance as yfin
from tqdm import tqdm

def get_ticker_list(df_ticker_list, company_name_list):
    ticker_list =[]
    for company in company_name_list:
        if company in df_ticker_list.index.values.tolist():
            ticker_list.append(df_ticker_list.loc[company][0])
        else:
            pass
    return ticker_list

def startDay_price(ticker, date_start):
    
    df = yf.download(ticker, start=date_start, end=datetime.strptime(date_start, '%Y-%m-%d') + timedelta(days=5) )
    return df['Close'][0]

def endDay_price(ticker, date_end):
    df = yf.download(ticker, start=datetime.strptime(date_end, '%Y-%m-%d') + timedelta(days=-10), end=date_end )
    return df['Close'][-1]

## year를 통합하는 작업 필요!

In [178]:
StockMarketEDA_LR_new_med_US = pd.read_csv('./df_us_ready.csv', index_col=0)

user_date_start, user_date_end = str(year) + '-01-01' , str(year) + '-12-31'

#df_ticker_list= pd.read_csv('../data/ticker_us.csv', index_col=0)
year = 2014
company_name_list = new_ticker_list
ticker_list = new_code_list

closed_start = []
closed_end = []

for ticker in tqdm(ticker_list):
    closed_start.append(startDay_price(ticker, user_date_start))
    closed_end.append(endDay_price(ticker, user_date_end))

df_closed = pd.DataFrame({
    'company' : company_name_list,
    'closed_start' : closed_start,
    'closed_end' : closed_end
})

# 데이터 타입 변경
df_closed['closed_end'] = df_closed['closed_end'].astype(float)
df_closed['closed_start'] = df_closed['closed_start'].astype(float)


# 증가율 산출 : (21년도 시총 - 20년도 시총 )/ 20년도 시총
df_closed['price_YOY'] = (df_closed['closed_end'] - df_closed['closed_start']) / df_closed['closed_start']

# 기존 데이터에 증가율 추가
#StockMarketEDA_LR_new_US = pd.read_csv(file_path, index_col=0, dtype={'code': object})

#StockMarketEDA_LR_new_US['price_YOY'] = df_closed['price_YOY'].to_list()

#YoY_path = '../data/StockMarketEDA_LR_new_US_YOY_'+ str(year) +'.csv'
#StockMarketEDA_LR_new_US.to_csv(YoY_path, sep=',', encoding='utf-8')

  0%|          | 0/80 [00:00<?, ?it/s]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

  1%|▏         | 1/80 [00:01<01:59,  1.51s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

  2%|▎         | 2/80 [00:02<01:48,  1.40s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

  4%|▍         | 3/80 [00:04<01:44,  1.36s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

  5%|▌         | 4/80 [00:05<01:46,  1.40s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

  6%|▋         | 5/80 [00:07<01:45,  1.40s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

  8%|▊         | 6/80 [00:08<01:39,  1.34s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

  9%|▉         | 7/80 [00:09<01:32,  1.26s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 10%|█         | 8/80 [00:10<01:32,  1.28s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 11%|█▏        | 9/80 [00:12<01:45,  1.48s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 12%|█▎        | 10/80 [00:14<01:50,  1.57s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 14%|█▍        | 11/80 [00:16<01:59,  1.73s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 15%|█▌        | 12/80 [00:18<02:00,  1.77s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 16%|█▋        | 13/80 [00:20<02:07,  1.90s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 18%|█▊        | 14/80 [00:22<02:04,  1.89s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 19%|█▉        | 15/80 [00:24<02:00,  1.85s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 20%|██        | 16/80 [00:26<02:00,  1.89s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 21%|██▏       | 17/80 [00:27<01:53,  1.80s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 22%|██▎       | 18/80 [00:29<01:49,  1.76s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 24%|██▍       | 19/80 [00:31<01:52,  1.84s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 25%|██▌       | 20/80 [00:33<01:46,  1.77s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 26%|██▋       | 21/80 [00:34<01:45,  1.79s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 28%|██▊       | 22/80 [00:36<01:40,  1.73s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 29%|██▉       | 23/80 [00:38<01:39,  1.75s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 30%|███       | 24/80 [00:40<01:50,  1.98s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 31%|███▏      | 25/80 [00:42<01:52,  2.04s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 32%|███▎      | 26/80 [00:44<01:48,  2.01s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 34%|███▍      | 27/80 [00:46<01:48,  2.05s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 35%|███▌      | 28/80 [00:48<01:44,  2.02s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 36%|███▋      | 29/80 [00:50<01:43,  2.03s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 38%|███▊      | 30/80 [00:52<01:29,  1.79s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 39%|███▉      | 31/80 [00:53<01:20,  1.64s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 40%|████      | 32/80 [00:54<01:14,  1.55s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 41%|████▏     | 33/80 [00:56<01:07,  1.43s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 42%|████▎     | 34/80 [00:57<01:05,  1.42s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 44%|████▍     | 35/80 [00:58<01:02,  1.40s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 45%|████▌     | 36/80 [01:00<01:09,  1.57s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 46%|████▋     | 37/80 [01:02<01:07,  1.56s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 48%|████▊     | 38/80 [01:03<01:01,  1.46s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 49%|████▉     | 39/80 [01:05<01:02,  1.52s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 50%|█████     | 40/80 [01:06<00:59,  1.49s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 51%|█████▏    | 41/80 [01:07<00:55,  1.43s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 52%|█████▎    | 42/80 [01:09<00:53,  1.40s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 54%|█████▍    | 43/80 [01:10<00:49,  1.35s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 55%|█████▌    | 44/80 [01:11<00:47,  1.32s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 56%|█████▋    | 45/80 [01:13<00:47,  1.37s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 57%|█████▊    | 46/80 [01:14<00:49,  1.45s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 59%|█████▉    | 47/80 [01:16<00:46,  1.41s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 60%|██████    | 48/80 [01:18<00:51,  1.62s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 61%|██████▏   | 49/80 [01:19<00:49,  1.60s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 62%|██████▎   | 50/80 [01:21<00:48,  1.60s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 64%|██████▍   | 51/80 [01:23<00:48,  1.66s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 65%|██████▌   | 52/80 [01:25<00:51,  1.83s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 66%|██████▋   | 53/80 [01:27<00:52,  1.96s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 68%|██████▊   | 54/80 [01:30<00:55,  2.14s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 69%|██████▉   | 55/80 [01:31<00:50,  2.02s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 70%|███████   | 56/80 [01:33<00:42,  1.77s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 71%|███████▏  | 57/80 [01:34<00:37,  1.63s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 72%|███████▎  | 58/80 [01:35<00:33,  1.52s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 74%|███████▍  | 59/80 [01:36<00:30,  1.44s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 75%|███████▌  | 60/80 [01:38<00:28,  1.41s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 76%|███████▋  | 61/80 [01:39<00:25,  1.35s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 78%|███████▊  | 62/80 [01:40<00:23,  1.29s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 79%|███████▉  | 63/80 [01:42<00:22,  1.34s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 80%|████████  | 64/80 [01:43<00:20,  1.27s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 81%|████████▏ | 65/80 [01:44<00:19,  1.30s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 82%|████████▎ | 66/80 [01:45<00:18,  1.33s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 84%|████████▍ | 67/80 [01:47<00:16,  1.30s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 85%|████████▌ | 68/80 [01:48<00:15,  1.31s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 86%|████████▋ | 69/80 [01:49<00:14,  1.32s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 88%|████████▊ | 70/80 [01:51<00:12,  1.28s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 89%|████████▉ | 71/80 [01:52<00:11,  1.26s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 90%|█████████ | 72/80 [01:53<00:09,  1.24s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 91%|█████████▏| 73/80 [01:54<00:08,  1.24s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 92%|█████████▎| 74/80 [01:56<00:07,  1.27s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 94%|█████████▍| 75/80 [01:57<00:06,  1.25s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 95%|█████████▌| 76/80 [01:58<00:05,  1.25s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 96%|█████████▋| 77/80 [02:00<00:04,  1.37s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 98%|█████████▊| 78/80 [02:01<00:02,  1.41s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

 99%|█████████▉| 79/80 [02:03<00:01,  1.47s/it]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

100%|██████████| 80/80 [02:04<00:00,  1.56s/it]

In [179]:
df_closed

                   company  closed_start  closed_end  price_YOY
0                    Apple    129.410004  178.199997   0.377019
1                Microsoft    217.690002  339.320007   0.558730
2        Alphabet (Google)     86.412003  146.002502   0.689609
3                   Amazon    159.331497  168.644501   0.058450
4       Berkshire Hathaway    228.449997  299.980011   0.313110
..                     ...           ...         ...        ...
75                  Zoetis    163.589996  245.160004   0.498625
76                  Target    177.630005  231.910004   0.305579
77            Schlumberger     21.950001   29.820000   0.358542
78             Duke Energy     89.709999  104.790001   0.168097
79  Vertex Pharmaceuticals    229.429993  222.449997  -0.030423

[80 rows x 4 columns]

In [1]:
years = [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

company_name_list = new_ticker_list
ticker_list = new_code_list



for year in years:
    user_date_start, user_date_end = str(year-1) + '-12-31' , str(year) + '-12-31'

    closed_start = []
    closed_end = []

    for ticker in tqdm(ticker_list):
        closed_start.append(endDay_price(ticker, user_date_start))
        closed_end.append(endDay_price(ticker, user_date_end))

    df_closed = pd.DataFrame({
        'company' : company_name_list,
        'closed_start' : closed_start,
        'closed_end' : closed_end
    })

    # 데이터 타입 변경
    df_closed['closed_end'] = df_closed['closed_end'].astype(float)
    df_closed['closed_start'] = df_closed['closed_start'].astype(float)

    # 증가율 산출 : (21년도 시총 - 20년도 시총 )/ 20년도 시총
    df_closed['price_YOY'] = (df_closed['closed_end'] - df_closed['closed_start']) / df_closed['closed_start']

# 기존 데이터에 증가율 추가

#df_us_ready['price_YOY'] = df_closed['price_YOY'].to_list()

NameError: name 'new_ticker_list' is not defined